/*
 * Empty Stylesheet file.
 */


.mainFxmlClass {

}
#anchorpane
{
   -fx-background-color: #D8D8D8;

}
.button
{
    
    -fx-border-color: #3590D9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    
}
.button:hover
{
    -fx-background-color: #2588D7;
    
}



.ImageView{
    -fx-border-color: #3590D9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
