/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.button
{
    -fx-border-color: #3590D9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button:hover
{
    -fx-background-color: #2588D7;
}